* {
    font-family: 'Courier New';
    font-weight: normal;
    margin-top: 130px;
}

body {
    text-align: center;
    background-color: rgb(36, 36, 38);
}

.main {
    margin-top: 0px;
}

img {
    width: 100px;
    height: 120px;
    position: fixed;
    top: 0;
    transform: translateX(-50%) rotate(40deg);
    opacity: 20%;
}

input,
#convertButton {
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 5px;
    margin-left: -1px;
    margin-bottom: 10px;
    border: 1px solid rgb(218, 216, 216);
    background-color: rgb(36, 36, 38);
    color: rgb(218, 216, 216);
    cursor: pointer;
}

input::placeholder {
    font-size: 15px;
}

#convertButton {
    transition: background-color 0.3s;
    margin-left: 5px;
}

#output {
    margin-top: 20px;
    font-size: 15px;
    color: rgb(218, 216, 216);
}

h1 {
    color: rgb(218, 216, 216);
    text-transform: uppercase;
}

.button-container {
    margin-top: 0px;
}

#copyButton,
#clearButton {
    font-size: 10px;
    padding: 5px 5px;
    margin-top: 20px;
    border: 0.5px solid rgb(218, 216, 216);
    background-color: rgb(36, 36, 38);
    color: rgb(218, 216, 216);
    opacity: 70%;
    cursor: pointer;
}

#clearButton {
    margin-left: 5px;
}

#copyButton {
    margin-right: 5px;
}

#copyButton:hover,
#clearButton:hover,
#convertButton:hover {
    opacity: 40%;
}